!/raw
/raw/*

!/raw/rmats_groups
!/raw/rmats_groups/*
/raw/rmats_groups/.DS_store

!/raw/sample_groups
!/raw/sample_groups/*
/raw/sample_groups/.DS_store

!/intermediate
/intermediate/*
!/intermediate/experiment_setup.txt

!/external
/external/*

!/external/eton_rpl22_sanger
!/external/eton_rpl22_sanger/*
/external/eton_rpl22_sanger/.DS_store

!.gitignore
